.rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.actions {
  margin: 1em 0;
  display: inline-flex;
}

.divider {
  padding: 1em;
  position: relative;
}

.wrapper {
  cursor: grab;
  margin: 1em 0;
}
