<mat-card class="wrapper" cdkDrag [cdkDragData]="card">
  {{ card.text }}

  <div class="rating">
    <button mat-icon-button>
      <mat-icon color="primary" (click)="updateRating(-1)"
        >thumb_down_alt</mat-icon
      >
    </button>
    {{ card.rating }}
    <button mat-icon-button>
      <mat-icon color="primary" (click)="updateRating(1)"
        >thumb_up_alt</mat-icon
      >
    </button>
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>

  <h3>Comments ({{ comments.length }})</h3>
  <div class="comments">
    <app-comment
      class="comments"
      *ngFor="let comment of comments"
      [comment]="comment"
    >
    </app-comment>
    <button mat-button color="primary" (click)="openDialog()">
      Add comment
    </button>
  </div>
</mat-card>
