<mat-list role="list" class="wrapper">
  <h2>{{ boardText }} ({{ cards.length }})</h2>

  <app-card
    class="card-wrapper"
    role="listitem"
    *ngFor="let card of cards"
    [cardId]="card.id"
    cdkDropList
    [cdkDropListData]="cards"
    (cdkDropListDropped)="drop($event)"
  ></app-card>

  <button mat-raised-button color="primary" (click)="openDialog()">
    Add Card
  </button>
</mat-list>
