.wrapper {
  width: 300px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  box-shadow: 0 0.6px 2.7px rgba(0, 0, 0, 0.016),
    0 1.5px 6.9px rgba(0, 0, 0, 0.022), 0 3px 14.2px rgba(0, 0, 0, 0.028),
    0 6.2px 29.2px rgba(0, 0, 0, 0.034), 0 17px 80px rgba(0, 0, 0, 0.05);
}
